body {
    background:rgb(244, 217, 245);
}
a:hover {
    color: pink;
}
#home, #about,
#work {
    color:rgb(156, 116, 194);
    text-align: center;
    padding: 5px 10px 6px;
}

.about {
    text-align: center;
    color:black;
    font-family: bold;
    
}

#me {
    margin: 20px 10px;
}

.work {
    border: 3px solid coral;

}

.contact {
    border: 3px solid coral;
    border-radius: 15px;
}

#contact{
    color:blueviolet;
    padding: 5px 10px 6px;
}

#github,
#linkedin
{
    font-weight: bold;
    font-size: 26px;
    padding-bottom:64px;
}
.work{
text-align: center;
}
.contact
{
    padding-bottom:44px;
    font-size:26x;
}
#message{
    height:62px;
}

footer { 
    height:20px; 
    background-color:lavender;
    text-align:center; 
    } 
    
    #date {
    text-align: center;
    margin-left: 10px; 
    }