body {
    background: whitesmoke;
   

}
a:hover {
    color: pink;
}

nav{
    position: fixed;
    z-index: 5;
}

#home, #about,
#work {
    color:black;
    text-align: center;
    padding: 5px 10px 6px;
    font-family: cursive;
}

.about {
    text-align: center;
    color:black;
    font-family: bold;
    background-color: rgb(220, 204, 232);
    
}

#me {
    margin: 20px 10px;
    color: rgb(31, 2, 31);
}

.work {
    border: 3px solid coral;

}

.contact {
    border: 3px solid coral;
    border-radius: 15px;
    background-color: #c9dcf0;
}

#contact {
    color:black;
    padding: 5px 10px 6px;
    font-family: cursive;
}

#github,
#linkedin
{
    font-weight: bold;
    font-size: 26px;
    padding-bottom:64px;
}
.work{
text-align: center;
}

.link {
    display: inline-block;
    width: 300px;
    height: 200px;
}

.contactOne
{
    padding-bottom:44px;
    font-size:26x;
}

#message{
    height:62px;
}

footer { 
    height:100px; 
    background-color:lavender;
    text-align:center; 
    } 
    
    #date {
    margin-left: 10px; 
    }